{% extends 'users/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <main class="container body-container" role="main">
        <!-- modal delete form -->
        <div class="modal fade" id="delete-post" tabindex="-1">
            <div class="modal-dialog modal-dialog-start">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Blog</h5>
                        <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <fieldset class="form-group text-center">
                                <h5 class="text-muted">Are you sure you want to delete <b>""</b>?</h5>
                                <div class="form-group text-center mt-4">
                                    <button type="submit" class="btn btn-outline-danger">Delete <i class="bi-trash-fill"></i></button>
                                   
                                </div>
                            </fieldset>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-sm-2">
                <div class="card card-body pb-0">
                    <article class="media content-section">
                        <div class="d-flex align-items-start justify-content-center">
                            <img src="nfs-heat.jpg" alt="img" class="rounded-circle article-img">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a href="" class="mr-3">Mori Keli</a>
                                    <small class="text-muted">17 Nov. 2022</small>
                                    <hr class="mt-0">
                                </div>
                                <div class="delete-icon">
                                    <a href="" class="icon" data-bs-toggle="modal" data-bs-target="#delete-post">
                                        <i class="bi bi-trash-fill" style="color: #df3435"></i>
                                    </a>
                                </div>
                                <h4><a href="" class="article-title">Blog 1</a></h4>
                                <p class="article-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam perferendis quisquam suscipit voluptatibus vel, dolorum nemo hic nisi neque. Culpa nihil labore sint quisquam et quam. Repudiandae, quis quod?
                                </p>
                            </div>
                        </div>
                        
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h4>Your sidebar</h4>
                    <p class="text-muted">Additional info.</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">21 Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div class="container body-container">
    {% endblock content %}
</body>
</html>

